:root {
    --lightblue: #00FFFF;
    --darkblue:  #000055;
    --darkbluebg: #00aaaa;
    --white: #FFFFFF;
    --black: #000000;
    --linkdark: #666666;
    --linklight: #bbbbbb;
  }
  
  body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    transition: all 1s ease-in-out;
  }
  
  li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  .btn {
    position: sticky;
    top: 20px;
    left: 250px;
    height: 35px;
    width: 75px;
    border-radius: 15%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    transition: all 1s ease-in-out;
  }

  .eml {
    color: var(--emlFontColor);
    transition: all 1s ease-in-out;
  }
  
  .lik {
    position: static;
    top: 20px;
    left: 250px;
    height: 35px;
    width: 75px;
    border-radius: 15%;
    border: none;
    color: var(--black);
    background-color: var(--defaultbg);
    transition: all 1s ease-in-out;
  }

  .light-theme {
    --defaultbg: var(--bg);
    --bg: var(--lightblue);
    --fontColor: var(--black);
    --btnBg: var(--darkblue);
    --btnFontColor: var(--white);
    --emlFontColor: var(--linkdark);
    transition: all 1s ease-in-out;
  }
  
  .dark-theme {
    --defaultbg: var(--darkbluebg);
    --bg: var(--darkblue);
    --fontColor: var(--white);
    --btnBg: var(--lightblue);
    --btnFontColor: var(--black);
    --emlFontColor: var(--linklight);
    transition: all 1s ease-in-out;
  }